<div>
  <div class="flex mb-4 justify-end">
    <button class="bg-[#F9F9F9] px-3 py-2 rounded-md shadow-md">
      <i class="pi pi-pen-to-square text-[#8A74F9] text-xl"></i>
      <span class="text-2xl mx-2 text-left">تعديل</span>
    </button>
  </div>

  <!-- ticket start -->
  <div class="w-full coupon-shadow">
    <div class="copuon-container w-full h-[23rem] relative rounded-2xl">
      <!-- <div
        *ngFor="let elm of [10, 20, 30, 40]"
        [class]="'w-full -z-10 absolute' + 'top-' + elm + ' right-' + elm"
      >
        <svg
          width="100%"
          viewBox="0 0 408 61"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M454.431 59.6183C420.657 48.8794 417.432 63.1149 383.628 52.3663C349.854 41.6274 353.078 27.3919 319.274 16.6433C285.5 5.90433 282.275 20.1398 248.471 9.39129C214.696 -1.34768 217.921 -15.5832 184.116 -26.3317C150.312 -37.0803 147.087 -22.8448 113.313 -33.5837C79.5087 -44.3323 82.7333 -58.5678 48.959 -69.3068C15.1847 -80.0457 11.93 -65.8198 -21.8443 -76.5588"
            stroke="#3D405B"
            stroke-opacity="0.16"
            stroke-width="0.824934"
            stroke-miterlimit="10"
          />
        </svg>
      </div> -->
      <div class="circle1"></div>
      <div class="circle2"></div>

      <div class="absolute top-5 left-10">
        <button class="bg-transparent px-3 py-2 rounded-md">
          <i class="pi pi-trash text-[#fff] text-3xl"></i>
        </button>
      </div>

      <div class="inner-container">
        <div class="flex flex-col gap-y-4 justify-center items-center">
          <div class="">
            <p class="font-medium">عرض التذكرة الخاصة بالفيلم</p>
          </div>

          <!-- copuon input start -->
          <div class="relative">
            <button
              class="absolute left-1 top-1 bg-transparent px-3 py-2 rounded-md"
            >
              <i class="pi pi-clone text-[#317740] text-lg"></i>
            </button>
            <div>
              <input
                class="font-medium w-[17rem] text-center"
                type="text"
                pInputText
                [(ngModel)]="couponCode"
              />
              <p class="text-center my-3">فعال حتي 15 يوليو 2023</p>
            </div>
          </div>
          <!-- coupon input end -->

          <!-- <hr class="border-dotted border-2 border-[f3f5f7] h-1 w-full" /> -->

          <div>
            <svg
              class="w-full"
              height="8px"
              viewBox="0 0 382 4"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2 2.00009L380.378 2.00009"
                stroke="white"
                stroke-opacity="0.4"
                stroke-width="2.4948"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-dasharray="5.82 5.82"
              />
            </svg>
          </div>

          <!-- qrcode start -->

          <div class="flex w-full items-center justify-between">
            <div>
              <p class="text-lg mb-2">خصم</p>
              <div class="flex gap-x-6 items-center">
                <p class="text-2xl"><span>25%</span></p>
                <div class="border-white border rounded-lg">
                  <button class="bg-transparent px-3 py-1 rounded-md">
                    <i class="pi pi-trash text-[#fff]"></i>
                    <span class="mx-2">مشاركة</span>
                  </button>
                </div>
              </div>
            </div>

            <div>
              <qrcode
                [qrdata]="
                  'https://github.com/narokamyraid199999/TicketDashboard/tree/master'
                "
                [allowEmptyString]="true"
                [ariaLabel]="'My GitHub Repository'"
                [colorDark]="'#000000ff'"
                [colorLight]="'#ffffffff'"
                [elementType]="'canvas'"
                [errorCorrectionLevel]="'M'"
                [margin]="4"
                [scale]="1"
                [title]="'Github Repo'"
                [width]="110"
              ></qrcode>
            </div>
          </div>
          <!-- qrcode end -->
        </div>
      </div>
    </div>
  </div>
  <!-- ticket end -->
</div>
