<!-- tabke start -->
<section>
  <!-- sort start -->
  <div class="flex justify-between mt-8 mb-6">
    <div class="flex gap-x-4 items-center">
      <p class="text-xl">مبيعات التذاكر</p>
      <div class="flex gap-x-3 relative">
        <div class="absolute right-1 top-1">
          <button class="bg-transparent px-3 py-2 rounded-md">
            <i class="pi pi-search text-[#317740] text-lg"></i>
          </button>
        </div>
        <input
          class="w-[22rem] pr-10"
          placeholder="بحث عن ..."
          type="text"
          pInputText
          [(ngModel)]="search"
        />
        <p-button
          icon="pi pi-sliders-h"
          pTooltip="أعدادات"
          tooltipPosition="bottom"
          styleClass="bg-white text-gray-400 border-gray-300 shadow-sm"
        />
        <p-button
          pTooltip="فلترة"
          tooltipPosition="bottom"
          icon="pi pi-sort-alt"
          styleClass="bg-white text-gray-400 border-gray-300 shadow-sm"
        />
      </div>
    </div>
    <div class="flex gap-x-6 items-center">
      <div class="flex items-center gap-x-2">
        <p-inputSwitch [(ngModel)]="isFavourite" />
        <p class="mb-2 text-[#9C9D9F]">مفعلة</p>
      </div>

      <div>
        <p-button
          label="حجز تذكرة جديدة"
          styleClass="bg-white text-white bg-[#8A74F9] border-gray-300 shadow-sm"
        />
      </div>
    </div>
  </div>

  <!-- table start -->

  <div class="mb-12">
    <p-card>
      <p-table
        [value]="customers"
        [paginator]="true"
        [rows]="5"
        [first]="first"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onPage)="pageChange($event)"
        [rowsPerPageOptions]="[10, 25, 50]"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 14.2%; text-align: center">المستخدم</th>
            <th style="width: 10.2%; text-align: center">رقم التذكرة</th>
            <th style="width: 10.2%; text-align: center">قيمة التذكرة</th>
            <th style="width: 24.2%; text-align: center">السينيمات</th>
            <th style="width: 8.2%; text-align: center">عدد الاشخاص</th>
            <th style="width: 14.2%; text-align: center">عدد مرات الشراء</th>
            <th style="width: 24.2%; text-align: center">التذكرة</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
          <tr>
            <td style="text-align: center">{{ customer.name }}</td>
            <td style="text-align: center">{{ customer.ticketNumber }}</td>
            <td style="text-align: center">{{ customer.ticketPrice }}</td>
            <td style="text-align: center">{{ customer.cinemaName }}</td>
            <td style="text-align: center">{{ customer.numberOfPeople }}</td>
            <td style="text-align: center">{{ customer.numberOfPayment }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <p-button
            type="button"
            icon="pi pi-plus"
            styleClass="p-button-text"
          />
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <p-button
            type="button"
            icon="pi pi-cloud"
            styleClass="p-button-text"
          />
        </ng-template>
      </p-table>
    </p-card>
  </div>
  <!-- table end -->

  <!-- sort end -->
</section>
<!-- table end -->
