<!-- tabke start -->
<section>
  <!-- sort start -->
  <div class="flex justify-between mt-8 mb-6">
    <div class="flex gap-x-4 items-center">
      <p class="text-xl">مبيعات التذاكر</p>
      <div class="flex gap-x-3 relative">
        <div class="absolute right-1 top-1">
          <button class="bg-transparent px-3 py-2 rounded-md">
            <i class="pi pi-search text-[#317740] text-lg"></i>
          </button>
        </div>
        <input
          class="w-[22rem] pr-10"
          placeholder="بحث عن ..."
          type="text"
          pInputText
          [(ngModel)]="search"
        />
        <p-button
          icon="pi pi-sliders-h"
          pTooltip="أعدادات"
          tooltipPosition="bottom"
          styleClass="bg-white text-gray-400 border-gray-300 shadow-sm"
        />
        <p-button
          pTooltip="فلترة"
          tooltipPosition="bottom"
          icon="pi pi-sort-alt"
          styleClass="bg-white text-gray-400 border-gray-300 shadow-sm"
        />
      </div>
    </div>
    <div class="flex gap-x-6 items-center">
      <div class="flex items-center gap-x-2">
        <p-inputSwitch [(ngModel)]="isFavourite" />
        <p class="mb-2 text-[#9C9D9F]">مفعلة</p>
      </div>

      <div>
        <p-button
          label="حجز تذكرة جديدة"
          styleClass="bg-white text-white bg-[#8A74F9] border-gray-300 shadow-sm"
        />
      </div>
    </div>
  </div>

  <!-- table start -->

  <div class="mb-12">
    <p-card>
      <p-table
        [value]="customers"
        [paginator]="true"
        sortMode="multiple"
        [rows]="4"
        [first]="first"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="عرض {last} من أصل {totalRecords}"
        (onPage)="pageChange($event)"
        [rowsPerPageOptions]="[4, 8, 16]"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="color: #abaab1; width: 14.2%; text-align: center">
              المستخدم
            </th>
            <th style="color: #abaab1; width: 10.2%; text-align: center">
              رقم التذكرة
            </th>
            <th
              pSortableColumn="ticketPrice"
              style="color: #abaab1; width: 10.2%; text-align: center"
            >
              <p-sortIcon field="ticketPrice" />
              قيمة التذكرة
            </th>
            <th style="color: #abaab1; width: 24.2%; text-align: center">
              السينيمات
            </th>
            <th style="color: #abaab1; width: 8.2%; text-align: center">
              عدد الاشخاص
            </th>
            <th style="color: #abaab1; width: 14.2%; text-align: center">
              عدد مرات الشراء
            </th>
            <th style="color: #abaab1; width: 24.2%; text-align: center">
              التذكرة
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
          <tr>
            <td style="text-align: center">
              <div class="flex items-center gap-x-2">
                <div>
                  <img
                    class="w-10 h-10 rounded-full"
                    [src]="customer.user.image"
                    alt=""
                  />
                </div>
                <div>
                  <p class="font-medium">{{ customer.user.name }}</p>
                  <p class="text-[#92A1AD]">{{ customer.user.phone }}</p>
                </div>
              </div>
            </td>
            <td style="text-align: center">
              <p class="font-medium text-lg">{{ customer.ticketNumber }}</p>
            </td>
            <td style="text-align: center">
              <p class="font-medium text-lg">${{ customer.ticketPrice }}</p>
            </td>
            <td
              pTooltip="صيدناوي مول , برج العرب"
              tooltipPosition="top"
              style="text-align: center"
            >
              <p class="font-medium text-lg">{{ customer.cinemaName }}</p>
            </td>
            <td style="text-align: center">
              <p class="font-medium text-lg">{{ customer.numberOfPeople }}</p>
            </td>
            <td style="text-align: center">
              <p class="font-medium text-lg">{{ customer.numberOfPayment }}</p>
            </td>
          </tr>
        </ng-template>
        <!-- <ng-template pTemplate="paginatorleft">
          <p-button
            type="button"
            icon="pi pi-plus"
            styleClass="p-button-text"
          />
        </ng-template> -->
      </p-table>
    </p-card>
  </div>
  <!-- table end -->

  <!-- sort end -->
</section>
<!-- table end -->
